/*Selector qui sont d'ordre général*/
* {
    margin: 0rem;
    border: 0rem
    padding: 0rem;
    
}

#body {
    font-family: Fraunces 9pt Soft;
    text-align: center;    
}

#container {

}

.box1 {
    background-image: url(asset/logoSunnyTravel.svg);
}


/*Selector sur une partie particilière*/